gcd-ws-client/src/com/walid/gcd/client/gcd.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gcd.walid.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gcd.walid.com/" name="GCDServiceIMplService">
<types>
<xsd:schema>
<xsd:import namespace="http://gcd.walid.com/" schemaLocation="http://localhost:8080/gcd-wsWeb/gcd?xsd=1"/>
</xsd:schema>
</types>
<message name="gcd">
<part name="parameters" element="tns:gcd"/>
</message>
<message name="gcdResponse">
<part name="parameters" element="tns:gcdResponse"/>
</message>
<message name="listGCDs">
<part name="parameters" element="tns:listGCDs"/>
</message>
<message name="listGCDsResponse">
<part name="parameters" element="tns:listGCDsResponse"/>
</message>
<message name="sumGCDs">
<part name="parameters" element="tns:sumGCDs"/>
</message>
<message name="sumGCDsResponse">
<part name="parameters" element="tns:sumGCDsResponse"/>
</message>
<portType name="GCDServiceIMpl">
<operation name="gcd">
<input wsam:Action="http://gcd.walid.com/GCDServiceIMpl/gcdRequest" message="tns:gcd"/>
<output wsam:Action="http://gcd.walid.com/GCDServiceIMpl/gcdResponse" message="tns:gcdResponse"/>
</operation>
<operation name="listGCDs">
<input wsam:Action="http://gcd.walid.com/GCDServiceIMpl/listGCDsRequest" message="tns:listGCDs"/>
<output wsam:Action="http://gcd.walid.com/GCDServiceIMpl/listGCDsResponse" message="tns:listGCDsResponse"/>
</operation>
<operation name="sumGCDs">
<input wsam:Action="http://gcd.walid.com/GCDServiceIMpl/sumGCDsRequest" message="tns:sumGCDs"/>
<output wsam:Action="http://gcd.walid.com/GCDServiceIMpl/sumGCDsResponse" message="tns:sumGCDsResponse"/>
</operation>
</portType>
<binding name="GCDServiceIMplPortBinding" type="tns:GCDServiceIMpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="gcd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listGCDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumGCDs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GCDServiceIMplService">
<port name="GCDServiceIMplPort" binding="tns:GCDServiceIMplPortBinding">
<soap:address location="http://localhost:8080/gcd-wsWeb/gcd"/>
</port>
</service>
</definitions>